<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h1>管理者画面</h1>
    <br>
    <h3>本日の注文件数　　
      <%= link_to index_today_admin_orders_path do %>
      <%= @orders.count %>
      <% end %>件</h3>
      <br>
      <br>
      <%= link_to admin_orders_path do %>
      <h4><p>全ての注文一覧</p></h4>
      <% end %>
    </h3>
  </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br>