
<h1>ジャンル追加・一覧画面</h1>

<table>
    <thead>
        <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
        <th></th>
        </tr>
    </thead>
    <% @end_users.each do |end_user| %>
        <tr>
            <td><%= end_user.id %></td>
            <td>    <%# 姓名繋げてボタン押せるようにしたい %>
                <%= link_to end_user.last_name, admin_end_user_path(end_user.id) %>
                <%= link_to end_user.first_name, admin_end_user_path(end_user.id) %>
            </td>
            <td><%= end_user.email %></td>
            <%# ステータス表示は論理削除の完成後にやる %>
            <td>編集中</td> 
        </tr>
    <% end %>
</table>
