<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="text-center">
      <h1>購入が確定いたしました</h1>
      <h2>ご注文ありがとうございます！</h2>
      <%= link_to image_tag('imgs/a_thank_you.png',:width => "500",:height => "300", class: "thank_you") , root_path %>
      <br>
      <strong><%= link_to "ホームへ戻る", root_path %></strong>
    </div>
  </div>
</div>