/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 *= require_tree .
 *= require_tree ../../../vendor/assets/stylesheets/.
 *= require_self
 */


/* Add: bootstrap-sass from github*/
/* "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"*/
@import "bootstrap-sprockets";
@import "bootstrap";


.kv {
  height: 600px;
}

#kv_bg_img_1 {
  background-image: url("kv/test1.jpg");
}

#kv_bg_img_2 {
  background-image: url("kv/test2.jpg");
}

#kv_bg_img_3 {
  background-image: url("kv/test3.jpg");
}

#kv_bg_img_4 {
  background-image: url("kv/test4.jpg");
}

.products {
  height: 400px;
}

.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}