/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 *= require_tree .
 *= require_tree ../../../vendor/assets/stylesheets/.
 *= require_self
 */


/* Add: bootstrap-sass from github*/
/* "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"*/
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Arizonia|Parisienne|Tangerine|Kosugi+Maru&display=swap');

body {
  font-family: 'Kosugi Maru', sans-serif;
}

// h1
h1 {
  font-size: x-large;
  border-bottom: solid 1px rgb(87, 79, 73);
  // font-family: 'Lato', sans-serif;
}

// HEADER
header .container {
  padding-right: 0px;
  padding-left: 0px;
}

// NAVBAR
.navbar {
  background: -moz-linear-gradient(top, #e4e0d8 0%, #ffffff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, top, bottom, color-stop(0%, #e4e0d8), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e4e0d8 0%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e4e0d8 0%, #ffffff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e4e0d8 0%, #ffffff 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #e4e0d8 0%, #ffffff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4e0d8', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */

}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: transparent;
}

.navbar li a {
  float: left;
  line-height: 50px;
  padding: 0 20px;
  text-decoration: none;
  color: #111;
}

.navbar li a:hover {
  background-color: rgb(211, 202, 174);
  color: #fff;
}

// LOGO

.logo span {
  font-family: 'Parisienne', cursive;
  font-size: 30px;
  line-height: 50px;
  font-weight: 600;
  color: rgb(113, 95, 83);
  // shadow
  -moz-text-shadow: 3px 2px 8px rgba(100, 60, 30, 0.55);
  -webkit-text-shadow: 3px 2px 8px rgba(100, 60, 30, 0.55);
  -ms-text-shadow: 3px 2px 8px rgba(100, 60, 30, 0.55);
  text-shadow: 3px 2px 8px rgba(100, 60, 30, 0.55);
}


// yield
.yield {
  padding: 20px 0px;
}

// FOOTER
footer {
  padding-top: 60px;
  background-color: rgb(238, 229, 210);
}

footer a {
  color: #333333;
}

footer div {
  list-style: none;
}

// TOP-PAGE

.kv {
  height: 600px;
}

#kv_bg_img_1 {
  background-image: url("kv/test1.jpg");
}

#kv_bg_img_2 {
  background-image: url("kv/test2.jpg");
}

#kv_bg_img_3 {
  background-image: url("kv/test3.jpg");
}

#kv_bg_img_4 {
  background-image: url("kv/test4.jpg");
}

.products {
  height: 400px;
}

.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

// 

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  z-index: 2;
  color: #fff;
  background-color: #c7a77f;
  border-color: #c7a77f;
}

// 通常のボタン色
.btn-primary,
.btn-primary.disabled,
.btn-primary:disabled {
  background: #c7a77f;
  border-color: #c7a77f;
}

// フォーカス時の枠線色
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgb(238, 229, 210);
  background-color: rgb(113, 95, 83);
}

// ホバー時のボタン色
.btn-primary:hover {
  color: #fff;
  background-color: rgb(113, 95, 83);
  border-color: rgb(113, 95, 83);
}

// アクティブ時のボタン色
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: rgb(113, 95, 83);
  border-color: rgb(113, 95, 83);
}

.field {
  padding: 4px;
}